<h1>Your Current Question!</h1>

<h2> You are Logged In As: <%= @user.username %></h2>
 <a href="/user_profile"> Your Profile </a>

<table border="1">
  <tr>
    <th>No</th>
    <th>Title</th>
    <th>Subject</th>
  </tr>

    <tr>
      <td><%= @question.id %></td>
      <td><%= @question.title %></td>
      <td><%= @question.body %></td>
    </tr>

</table>


<table border="1">
  <tr>
    <th>Answers</th>
  </tr>

  <% if @answers.empty? %>  <!-- If answer is NOTHING  -->
  <tr>
  <td><p>There are no answers posted yet!</p></td>
  </tr>

  <% else %>  <!-- If answer got VALUE -->
    <% @answers.each do |answer| %>

    <tr>
    <td><p><%= answer.text %></p></td>
    </tr>

    <% end %>
<% end %>
</table>

    <br>

    <a href="/single_question"> Ask New Question</a>

    <br>

     <a href="/questions/<%=@question.id%>/edit"> Edit Question</a>

     <br>

    <form method="post" action="/questions/<%=@question.id%>"> 
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="question[title]"><br>
    <input type="hidden" name="question[body]" ></textarea>
    <button type="submit">Delete</button>
    </form>

<!-- #ANSWERS -->

<form method="post" action="/answers/<%=@question.id%>">

 <textarea placeholder="Enter Answer Here" name="answer[text]" rows="5" cols="30" ></textarea>
 <input type="submit" value="Post">
</form>


<h1>Answers</h1>
<% if @answers.empty? %>  <!-- If answer is NOTHING  -->
 <p>There are no answers posted yet!</p>
<% else %>  <!-- If answer got VALUE -->
<table border="1">
  <tr>
    <th>Answers</th>
  </tr>
  <% @answers.each do |answer| %>
  <tr>
    <td><textarea readonly><%= answer.text %></textarea></td>
  </tr>
  <% end %>
<% end %>





