
<h1>Welcome To Ask Ask Ask Portal! </h1>
<p>See Me in views/static/index.html.erb</p>

<%if logged_in?%>
    <p>You're logged in as <b><%=@current_user.username%><b></p>
    <a href="/user_profile"> Your Profile </a>

    <form action="/logout" method="post">
      <input type="submit" value="Logout">
    </form>
<%else%>
    <p> WELCOME! Please Sign Up or Log In</p>
    <a href="/signup"> Sign Up! </a>
    <a href="/login"> Log In! </a>
<%end%>

    <br>

    <a href="/single_question"> Ask New Question</a>

    <br>
    <h2> Top Questions </h2>
    <table border="1" width="100%">
    <tr>
        <th> Number </th>
        <th> Ques ID </th>
        <th> Title </th>
        <th> Description </th>
        <th> Posted By </th>
        <th> Vote Controls </th>
        <th> Votes Data </th>
        <!-- <th> Answers </th> -->
    </tr>
    <%= will_paginate @questions %>
 
    <% @questions.each.with_index do |question, index| %>
    <tr>
        <td><p><%= index + 1 %></a></p></td>
        <td><p><%= question.id %></a></p></td>
        <td><p><a href="/questions/<%=question.id%>"><%= question.title %></a></p></td>
        <td><p><%= question.body %></p></td>
        <td><p><%= question.user.username %></p></td>
        <td><p>
        <form action="/questions/<%= question.id %>/upvote" method="POST">
            <input type="submit" value="upvote"></form>
        <form action="/questions/<%= question.id %>/downvote" method="POST">
            <input type="submit" value="downvote"></form>
        <form action="/questions/<%= question.id %>/reset" method="POST">
            <input type="submit" value="reset"></form>
        </p></td>
         <td><p>

        <!--To show vote count(s) by type-->
    Total question vote(s)  <%= question.question_votes.count %><br> 
    Total question upvote(s) <%= question.question_votes.where(question_vote_count: 1).count %><br>
    Total question downvote(s)  <%= question.question_votes.where(question_vote_count: -1).count %><br><br>
        

        </p></td>
        </tr>




        <tr align="center">
        <td colspan="7"><p>
            
            <!-- ANSWERS COLUMN -->
            <% if question.answers.count == 0 %>
        No answers yet, would you want answer it? <br>
        <br>
    Kindly click on the question name on the FAR TOP LEFT of this question to post your answer<br> 
    <% else %>
        <% question_answers = question.answers.order(updated_at: :desc) %>
        <% question_answers.each.with_index do |answer, index| %>
            <%= " Answer " %><%= index + 1 %><%= " : " %><br><br><%= answer.text %><br><br>

    <!--The form for up voting on answers -->
    <form action='/answers/<%= answer.id %>/upvote' method="POST">
        <input type="submit" value="Answer Upvote"></form>
    <!--The form for down voting on answers -->
    <form action='/answers/<%= answer.id %>/downvote' method="POST">
        <input type="submit" value="Answer Downvote"></form>
    <!--The form for resetting answers -->
    <form action='/answers/<%= answer.id %>/reset' method="POST">
        <input type="submit" value="Reset Answer Vote"></form>

    <!--To find the total amount of votes by type-->    
    Total answer vote(s): <%= answer.answer_votes.count %><br>
    Total answer upvote(s): <%= answer.answer_votes.where(answer_vote_count: 1).count %><br>
    Total answer downvote(s): <%= answer.answer_votes.where(answer_vote_count: -1).count %><br>
    <br>
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------^^---Answered By------
    <%= answer.user.username %>
    <br>

        <% end %> <!--Ends answer do each -->
    <% end %>    <!--Ends If else answer present or not-->

        </p></td>



    </tr>
    <% end %>
    </table>